
.contactContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(1.5em + 1.5em + 1.5em);
  position: relative;
}

.contactContainer h1 {
  color: #ffffff;
  font-size: 10rem;
  font-family: 'Montserrat';
}

.contactContainer p {
  border: -6rem;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1em;
  position: relative;
  opacity: 0.7;
  width: 50vw;
}

.contactContainer .emailLink {
  font-size: 4rem;
  color: white;
  position: relative;
  top:-4rem;
}

.contactContainer ul {
  list-style-type: none;
}

.contactContainer li {
  display: inline;
  padding-right: 3rem;
}

.contactContainer li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .contactContainer {
    top: 10rem;
  }
  
  .contactContainer h1 {
    font-size: 4rem;
  }
  
  .contactContainer p {
    font-size: 0.6rem;
    top: -1rem;
  }
  
  .contactContainer .emailLink {
    font-size: 1rem;
    top: 0rem;
  }
  
  .contactContainer li {
    padding-right: 1rem;
  }
  
  .contactContainer li a {
    font-size: 0.5rem;
  }  
}

@media only screen and (min-width: 600px) and (max-width:800px) {
  .contactContainer {
    top: 10rem;
  }

  .contactContainer h1 {
    font-size: 4rem;
  }

  .contactContainer p {
    font-size: 0.6rem;
    top: -1rem;
  }

  .contactContainer .emailLink {
    font-size: 1rem;
    top: 0rem;
  }

  .contactContainer li {
    padding-right: 1rem;
  }

  .contactContainer li a {
    font-size: 0.5rem;
  }
}
