
.headerContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0;
  top: 15px;
  width: 100%;
  z-index: 1;
}

.headerContainer nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  width: 100%;
}

.headerContainer .rightSide {
  margin-left: auto;
}

.headerContainer h1 {
  font-size: 1rem;
}

.headerContainer ul {
  list-style: none;
}

.headerContainer ul li {
  display: inline-block;
  padding-right: 2rem;
}

.headerContainer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    width: 80vw;
    top: 2rem;
  }

  .headerContainer h1 {
    font-size: 1rem;
  }

  .headerContainer ul li {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width:800px){
  .headerContainer {
    width: 80vw;
    top: 2rem;
  }

  .headerContainer h1 {
    font-size: 1rem;
  }

  .headerContainer ul li {
    padding-right: 1rem;
  }
}
